<ion-header [translucent]="true">
  <ion-toolbar color="primary">
    <ion-title>
      Blank
    </ion-title>

    <ion-buttons slot="start">
      <ion-button color="warning" mode="md">
        <ion-icon name="trash"></ion-icon>
      </ion-button>
      <ion-button color="warning" mode="md">
        <ion-icon name="trash"></ion-icon>
      </ion-button>
    </ion-buttons>

    <ion-button color="warning" mode="md" slot="start">
      <ion-icon name="trash"></ion-icon>
    </ion-button>

    <ion-button slot="end" routerLink="/settings">
      <ion-icon name="settings" slot="icon-only"></ion-icon>
    </ion-button>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" class="ion-padding" color="light">
  <ion-button
    routerLink="/animals"
    expand="block"
    [color]="settings.preferedColor"
    >Jeu des animaux</ion-button
  >
  <ion-button expand="block" routerLink="/hello/Jane">
    Hello Jane
  </ion-button>
  <ion-button expand="block" routerLink="/hello/Bob">
    Hello Bob
  </ion-button>
</ion-content>

<ion-footer>
  <ion-toolbar color="success">
    <ion-title>Hello</ion-title>
  </ion-toolbar>
</ion-footer>
